.root {
  .inputWrapper {
    position: relative;
    margin-top: 8px;
    margin-bottom: 4px;
    .inputContent {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      // justify-content: center;
      cursor: pointer;
      padding: 0 14px;
    }
  }
}
.paper {
  max-width: unset !important;
}
