.root{
  position: relative;

  .dilogContent{
    display: flex;
    flex-direction: column;
    gap: 27px;
  }

  .headsection{
    margin-bottom: 18px;
  }
  .AlignButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .EXCELBTN {
      color: var(--secondary-main);
      font-weight: 700;
      border-color: var(--secondary-light);
      background-color: var(--secondary-lighter);
      &:hover{
        box-shadow: none;
      }
    }
    .PDFBTN {
      color: var(--primary-main);
      border-color: var(--primary-main);
      background-color: var(--primary-lighter);
      &:hover{
        box-shadow: none;
      }
    }
  }
  .wrapper{
    margin-bottom: 22px;
  }
  .title{
    position: absolute;
    top: -30px;
    right: 14px;
    z-index: 100000000;
  }
}