.root {
  background-color: var(--background-secondary);
  min-height: 100vh;
  padding: 56px 0 80px;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background-secondary)
      url("../../../../../public/images/live-price-bg.png") no-repeat center;
    background-size: cover;
  }
  .breadCrumb {
    margin-bottom: 24px;
    color: var(--text-secondary);
    a {
      cursor: pointer;
    }
    :last-child {
      color: var(--text-primary);
    }
  }
  .tether {
    font-size: 0.7em;
  }
  .paper {
    position: relative;
    padding: 32px;
    height: 100%;
    box-shadow: 0px 40px 72px rgba(179, 179, 179, 0.08);
    border-radius: 16px;
    &.summery {
      .coinName {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        .name {
          margin: 0 8px;
          > * {
            margin: 4px 0;
          }
        }
      }
      .currentPrice {
        margin-top: 8px;
        display: flex;
        align-items: center;
        .changes {
          display: flex;
          align-items: center;
          font-weight: 700;
          margin-inline-start: 8px;
          svg {
            font-size: 2em;
          }
          &.dump {
            color: var(--error-main);
          }
          &.pump {
            color: var(--success-main);
          }
        }
      }
      .progressContainer {
        direction: ltr;
        .progress {
          margin: 8px 0;
          transform: rotateY(180deg);
          height: 8px;
          background-color: var(--action-disabledBackground);
          border-radius: 4px;
          .progressBar {
            border-radius: 4px;
          }
        }
        .progressRange {
          display: flex;
          justify-content: space-between;
          .max {
            direction: rtl;
            > * {
              direction: rtl;
              text-align: right;
            }
          }
        }
      }
      .divider {
        margin: 32px 0;
      }
      .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
        :first-child {
          color: var(--text-secondary);
        }
        :last-child {
          font-weight: 500;
          font-size: var(--font-h6);
          span {
            font-size: var(--font-body1);
            color: var(--text-secondary);
            font-weight: 400;
          }
        }
      }
    }
    &.chartSection {
      display: flex;
      flex-direction: column;
      .chartContainer {
        margin-top: -32px;
        flex: 1;
      }
    }
    &.info {
      .navigator {
        border-inline-start: 1px solid var(--divider);
        position: sticky;
        top: 96px;
        .navigatorList {
          list-style: none;
          li {
            padding: 8px 0;
            &::before {
              content: "-";
              margin-inline-end: 8px;
            }
          }
        }
      }
      section {
        margin-top: -100px;
        padding-top: 100px;
        margin-bottom: 80px;
        &:last-child {
          margin-bottom: 0;
        }
        .title {
          font-size: var(--font-h4);
          font-weight: 700;
          margin-bottom: 12px;
        }
        p {
          margin-bottom: 20px;
        }
      }
      .tradeSection {
        .tradeBox {
          display: flex;
          border-radius: 4px;
          box-shadow: var(--shadow-2);
          align-items: center;
          padding: 20px;
          .imageWrapper {
            margin-inline-end: 40px;
            width: 32px;
            display: flex;
          }
          .price {
            flex: 1;
            :first-child {
              color: var(--text-secondary);
            }
            :last-child {
              font-weight: 500;
              font-size: var(--font-h6);
              span {
                font-size: var(--font-body1);
                color: var(--text-secondary);
                font-weight: 400;
              }
            }
          }
        }
      }
      .walletSection {
        .note {
          position: sticky;
          top: 40px;
          margin: 0;
          padding: 20px;
          background-color: var(--action-disabledBackground);
          list-style: none;
        }
      }
      .faqSection {
        .accordionContainer {
          margin-bottom: 20px;
          :global .MuiAccordion-root.Mui-expanded {
            border: 1px solid var(--divider);
          }
          .accordion {
            box-shadow: none;
            background-color: var(--primary-lighter);

            :global {
              .MuiAccordionSummary-expandIconWrapper {
                color: var(--primary-main);
                &.Mui-expanded {
                  transform: rotate(45deg);
                  color: var(--error-main);
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 599px) {
  .root {
    .paper {
      padding: 24px 16px;
      &.info {
        .tradeSection {
          .tradeBox {
            flex-direction: column;
            align-items: stretch;
            > *:last-child {
              margin-top: 16px;
            }
            .imageWrapper {
              margin: 0;
              align-self: center;
              margin-bottom: 24px;
              width: auto;
            }
            .price {
              display: flex;
              justify-content: space-between;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
