.root {
  min-height: 100vh;
  padding: 0 0 32px;
  .paper {
    position: relative;
    padding: 12px;

    .header {
      .mainDesk {
        text-align: justify;
        .title {
          display: none;
          font-weight: 700;
        }
      }
      .headImageWrapper {
        width: 70%;
        max-width: 300px;
        margin: auto;
      }
    }
    .section {
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 20px;
    }
    ul {
      margin: 12px 0 0;
      padding: 0;
      li {
        text-align: justify;
        list-style: none;
        display: flex;
        align-items: baseline;

        span {
          font-size: 1.5em;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
      &.blueList {
        li::before {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          margin-left: 4px;
          border-radius: 50%;
          flex-shrink: 0;
          background-color: var(--primary-main);
        }
      }
    }
    .infoAlert {
      border: 1px solid var(--divider);
      background-color: var(--info-lighter);
      border-radius: 12px;
      padding: 16px;
      text-align: center;
      .icon {
        color: var(--info-main);
        font-size: 3.4em;
        margin-bottom: 8px;
      }
      .title {
        color: var(--info-main);
        font-weight: 500;
        font-size: var(--font-h6);
        margin-bottom: 4px;
      }
      p {
        margin: 0;
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      .button {
        min-width: 136px;
      }
    }
  }
}
@media (min-width: 900px) {
  .root {
    background-color: var(--background-secondary);
    padding: 72px 0;
    .pageHeader {
      box-shadow: none;
      background-color: var(--background-secondary);
    }
    &::before {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--background-secondary)
        url("../../../../../public/images/live-price-bg.png") no-repeat center;
      background-size: cover;
    }
    .paper {
      background-color: var(--background-paper);

      box-shadow: 0px 40px 72px rgba(179, 179, 179, 0.08);
      border-radius: 16px;
      padding: 56px 110px;
      .header {
        display: flex;
        align-items: center;
        .mainDesk {
          text-align: unset;
          margin-inline-end: 64px;
          .title {
            display: block;
            margin-bottom: 12px;
          }
        }
        .headImageWrapper {
          order: 1;
          width: 40%;
          max-width: 400px;
          flex-shrink: 0;
          margin: auto;
        }
      }
      .section {
        margin-bottom: 88px;
      }
      p {
      }
      ul {
        li {
          margin-bottom: 16px;
          &::before {
          }

          &:last-child {
          }
        }
      }
      .buttonContainer {
        .button {
        }
      }
    }
  }
}
