.root {
  .content {
    // padding-top: 0;
    // padding-bottom: 32px;
    display: flex;
    flex-direction: column;

    .desc {
      margin-bottom: 16px;
      text-align: center;
      // color: var(--text-secondary);
    }
    form {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .formElementWrapper {
        margin-bottom: 8px;
        text-align: justify;
      }
      .button {
        margin-top: auto;
      }
    }
  }
}
.dataContainer {
  padding: 24px 4px;
  .dataRow {
    padding: 12px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    span {
      font-weight: 700;
      &:first-child {
        color: var(--text-mute);
      }
    }
  }
}
.actions {
  display: flex;
  margin: 0 -2px;
  > * {
    flex: 1;
    margin: 0 2px !important;
  }
}

@media (min-width: 900px) {
  .root .content form .formElementWrapper {
    margin-top: 8px;
    margin-bottom: 32px;
  }
}
