.root {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--divider);
  padding: 8px 0;
  .iconWrapper {
    flex-shrink: 0;
    display: flex;
    padding: 4px;
    border-radius: 50%;
    * {
      font-size: 1.15em;
    }
    &.success {
      background-color: var(--success-main);
      color: var(--success-contrastText);
    }
    &.error {
      background-color: var(--error-main);
      color: var(--error-contrastText);
    }
  }
  .content {
    flex: 1;
    min-width: 0;
    padding-inline-start: 16px;
    padding-inline-end: 4px;
    .price {
      display: flex;
      align-items: center;
      .value {
        display: inline-flex;
        align-items: center;
        * {
          margin: 0 0.5ch;
        }
        svg {
          order: -1;
          font-size: 0.9em;
        }
      }
    }
  }
  .action {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  &:last-child {
    border-bottom: none;
  }
}
