.root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .dialogPaper {
    width: 100%;
  }
  .header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    .logo {
      display: none;
    }
    .closeIconWrapper {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }
  }
  .content {
    position: relative;
    // overflow: hidden;
    padding: 24px 12px 32px;
  }
}
@media (min-width: 600px) {
  .root {
    background-color: var(--background-secondary);
    &::before {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--background-secondary)
        url("../../../../../public/images/live-price-bg.png") no-repeat center;
      background-size: cover;
    }
    .dialogPaper {
      background-color: var(--background-paper);
      width: 506px;
      //   width: 442px;
      padding: 32px;
      position: relative;
      border-radius: 16px;
      -webkit-box-shadow: 0px 40px 72px rgb(179 179 179 / 8%);
      box-shadow: 0px 40px 72px rgb(179 179 179 / 8%);
    }
    .header {
      height: 88px;
      .logo {
        display: block;
      }
    }
    .content {
      padding: 40px 58px;
      //   overflow: hidden;
      //   .blurBg {
      //     background-image: linear-gradient(
      //       90deg,
      //       var(--warning-main) 0%,
      //       var(--warning-main) 25%,
      //       var(--primary-main) 25%,
      //       var(--primary-main) 50%,
      //       var(--success-main) 50%,
      //       var(--success-main) 75%,
      //       var(--error-main) 75%,
      //       var(--error-main) 100%
      //     );
      //     position: absolute;
      //     top: 0;
      //     height: 8px;
      //     left: 15%;
      //     right: 15%;
      //     filter: blur(40px);
      //   }
    }
  }
}
@media (max-width: 599px) {
  .root {
    .dialogPaper.notFullScreen {
      width: calc(100% - 24px);
      margin: 12px;
    }

    &.style-1 {
      .header {
        .closeIconWrapper {
          right: 4px;
        }
      }
    }
    &.style-2 {
      .header {
        background-color: var(--background-paper);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        height: 41px;
        .title {
          color: var(--primary-main);
        }
        .closeIconWrapper {
          right: 0;
        }
      }
    }
    &.style-3 {
      .header {
        height: 36px;
        .closeIconWrapper {
          right: auto;
          left: 0;
          transform: none;
          top: 0;
          z-index: 2;
        }
        .title {
          display: none;
        }
      }

      .content {
        padding: 0 12px 20px;
      }
    }
    &.style-4 {
      .bottomSheetHandler {
        margin-top: 12px;
        display: flex;
        justify-content: center;
        &::before {
          content: "";
          width: 40px;
          height: 6px;
          border-radius: 6px;
          background-color: var(--action-disabledBackground);
        }
      }
      .dialogPaper {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
    }
  }
}
